:root {
    --primary-color: #9932CD;
    --secondary-color: #2E0854;
    --tertiary-color: #E5CCFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles start */
header {
    padding: 15px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0 10px 0 50px;
}

header h1 a {
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 50px 0 0;
}

header nav ul li a {
    padding: 10px 25px;
    margin: 5px;
    font-size: 1.8vw;
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
}
/* header styles end */

/* hero styles start */
.hero {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 350px;
}

.hero h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-size: 2.3vw;
    margin: 0 50px 15px 0;
}
/* hero styles end */

/* general styles start */

.section-title-1 {
    font-size: 48px;
    color: var(--secondary-color);
    text-align: right;
    padding: 0 20px 0 113px;
}

.section-title-2  {
    font-size: 48px;
    color: var(--secondary-color);
    text-align: right;
    padding: 0 20px 0 123px;
}

.flex-row {
    display: flex;
}

.dividing-border {
    border-left: 3px solid var(--secondary-color);
}

/* about me section styles start */
.bio {
    background-color: var(--tertiary-color);
    display: flex;
    padding: 50px 25px 0 0;
}

.bio img {
    padding: 0 0 25px 30px;
}

.bio p {
    display: flex;
    color: var(--secondary-color);
    width: 900px;
    font-size: 20px;
    padding: 0 0 25px 30px;
}

/* work section styles start */
.work {
    background-color: var(--tertiary-color);
    display: flex;
    padding: 50px 25px 0 0;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
}

.work-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 0 25px 30px;
    height: 400px;
}

.work-grid-item {
    border: 2px solid var(--primary-color);
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}

.work-grid-item div {
    background-color: var(--primary-color);
    margin: 0 0 20px 0;
    padding: 5px;
}

.work-grid-item h3 {
    font-size: 25px;
}

.run-buddy {
    background-image: url("../images/run-buddy-screenshot.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: relative;
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.professional-portfolio {
    background-image: url("../images/professional-portfolio-screenshot.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: relative;
    display: flex;
}

.future-work {
    background-image: url("../images/future-work-placeholder.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: relative;
    display: flex;
}