:root {
    --primary-color: #9932CD;
    --secondary-color: #2E0854;
    --tertiary-color: #E5CCFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles start */
header {
    padding: 15px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0 10px 0 50px;
}

header h1 a {
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 50px 0 0;
}

header nav ul li a {
    padding: 10px 25px;
    margin: 5px;
    font-size: 1.8vw;
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
}
/* header styles end */

/* hero styles start */
.hero {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 350px;
}

.hero h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-size: 2.3vw;
    margin: 0 50px 15px 0;
}
/* hero styles end */

/* general styles start */

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    text-align: right;
    padding: 0 20px 0px 128px;
}

.flex-row {
    display: flex;
}

/* about me section styles start */
.bio {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 25px 0 0;
}

.bio p {
    display: flex;
    color: var(--secondary-color);
    width: 900px;
    font-size: 20px;
    padding: 0 0 25px 30px;
    border-left: 3px solid var(--secondary-color);
}
